---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima-{{ site.minima.skin | default: 'classic' }}";

.checkbox {
  position: relative;
}
/* Same placement as SVG and set to transparent */
.checkbox .checkbox__input {
  position: absolute;
  /* SVG-icon size */
  width: 0.75em;
  height: 0.75em;
  opacity: 0;
}
.checkbox .checkbox__input:focus + .checkbox__icon {
  outline: orangered auto 5px;
}
.checkbox .checkbox__input + .checkbox__icon .unchecked {
  opacity: 1;
}
.checkbox .checkbox__input + .checkbox__icon .checked {
  opacity: 0;
}
.checkbox .checkbox__input:checked + .checkbox__icon .unchecked {
  opacity: 0;
}
.checkbox .checkbox__input:checked + .checkbox__icon .checked {
  opacity: 1;
}
